#loading{
    display:none;
    z-index:9999;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
}
table{
    background-color:#fff;
    box-shadow:0 3px 5px rgba(0,0,0,0.11)
}